BASE_URL=https://rpachallenge.com/
TMDB_API_KEY=014c5ff2b83dc17257629894b0fef1fb
MOVIE_QUERY=Avengers

EDGE_DRIVER_PATH=C:\RPA\RPA_ChalengeMovies\drivers\msedgedriver.exe
HEADLESS=False

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=wellbe_challenge